<div class="c-box">
	<a class="img-wrapper" href="#">
		<img src="./img/box-2.png" alt="product image">
	</a>
	<a class="title" href="#">Jak vypadá tvoje příprava na kódování?</a>

	<div class="desc">
		Pro nás je nejdůležitější správný návrh komponent. Často spolu v týmu diskutujeme, jak a co nakódovat. A protože ne vše si jde jen představit, hodně si kreslíme do deníčku.
	</div>

	<div class="info">
		<div class="text">
			3 000 km čar
		</div>
		<a class="c-btn" href="#">Smazat</a>
	</div>
</div>