<div class="c-box">
	<a class="img-wrapper" href="#">
		<img src="./img/box-3.png" alt="product image">
	</a>
	<a class="title" href="#">Co děláš, když si chceš odpočinout od práce?</a>

	<div class="desc">
		Naš odpočinek vypadá různě. Někdy jen tak klábosíme, někdy se vyzveme k vzájemnému souboji na PS4 nebo fotbálku a nebo si to rozdáme v nějaké deskovce.
	</div>

	<div class="info">
		<div class="text">
			t > 3 600 000 ms
		</div>
		<a class="c-btn" href="#">Odpočinout</a>
	</div>
</div>