<div class="c-box">
	<a class="img-wrapper" href="#">
		<img src="./img/box-1.png" alt="product image">
	</a>
	<a class="title" href="#">Jak doplňuješ energii?</a>

	<div class="desc">
		My máme vlastní energy drink, ale krom toho polykáme všechno, kde je nějaké palivo navíc. Samozřejmě myslíme kávu, čaje, maté apod. :D
	</div>

	<div class="info">
		<div class="text">
			1 paleta na půl roku
		</div>
		<a class="c-btn" href="#">Objednat</a>
	</div>
</div>