.c-btn
	display inline-block
	color btnColor
	text-align center
	text-decoration none
	transition color trs, background trs
	text-transform uppercase
	cursor pointer
	border-radius 21px
	padding 10px 20px
	background: colors.green
	color #fff
	font-size 16px
	&:hover
		background: colors.purple
	
	&.bordered
		border 2px solid #fff
		background transparent
		&:hover
			color: colors.purple
			background #fff

	&.big
		padding 12px 40px
		border-radius 31px
		border 3px solid #fff
		font-weight 500
		fluidProp(font-size, 18px, 24px)

	@media (max-width: mobileMaxWidth)
		padding 8px 15px
		&.big
			padding 10px 25px