.c-text
	background linear-gradient(180deg, rgba(231,231,231,1) 0%, rgba(255,255,255,0) 100%)
	fluidProp(padding-top, 30px, 70px)
	h1,h2
		fluidProp(margin-bottom, 20px, 40px)
		color: colors.purple

	@media (max-width: mobileMaxWidth)
		p
			br
				display none